@import "../../assets/scss/colors.scss";

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.infoTitle {
  text-align: right;
  font-weight: 700;
  color: $caption-color;
  padding: 8px 0;
}

.infoSection {
  display: flex;
  flex-direction: column;
}

.infoItem {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-radius: 4px;
  span{
    color: $table-body-color;
    font-size: 0.75rem;
    font-weight: 600;
  }
  &:nth-child(odd){
    background-color: rgb(240, 240, 240);
  }
}
